flows.json
[{"id":"8d50e71e90a5eb00","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2078e5b884cedd74","type":"modbus-flex-getter","z":"8d50e71e90a5eb00","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3f18ff5a1a0a94b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":200,"wires":[["bd922b6f48339cdd","b4beeab1bf6b959f","06c5f549f638caea","8f3003523623dac4","27427271378a7045","92d14264ba16d249","6f1fd59311b72741"],[]]},{"id":"3d23a1cf0dcc0e7a","type":"inject","z":"8d50e71e90a5eb00","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":200,"wires":[["ab262e4437f4dcdc"]]},{"id":"bd922b6f48339cdd","type":"debug","z":"8d50e71e90a5eb00","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"ab262e4437f4dcdc","type":"function","z":"8d50e71e90a5eb00","name":"get Q0","func":"msg.payload = {\n'fc' : 1,\n'unitid' : 1,\n'address' : 0,\n'quantity' : 10\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["2078e5b884cedd74"]]},{"id":"92d14264ba16d249","type":"change","z":"8d50e71e90a5eb00","name":"get val 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":60,"wires":[["c8af75c5038843c1"]]},{"id":"c8af75c5038843c1","type":"ui_led","z":"8d50e71e90a5eb00","order":1,"group":"861c8370874c05ae","width":0,"height":0,"label":"Gantry Slider","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":830,"y":60,"wires":[]},{"id":"27427271378a7045","type":"change","z":"8d50e71e90a5eb00","name":"get val 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[["5e7af4ccc2dea48d"]]},{"id":"5e7af4ccc2dea48d","type":"ui_led","z":"8d50e71e90a5eb00","order":0,"group":"861c8370874c05ae","width":"0","height":"0","label":"Rotary Table","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":830,"y":120,"wires":[]},{"id":"b4beeab1bf6b959f","type":"change","z":"8d50e71e90a5eb00","name":"get val 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["11b14eb7d998c387"]]},{"id":"11b14eb7d998c387","type":"ui_led","z":"8d50e71e90a5eb00","order":0,"group":"861c8370874c05ae","width":"0","height":"0","label":"Transfer Arm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":830,"y":180,"wires":[]},{"id":"06c5f549f638caea","type":"change","z":"8d50e71e90a5eb00","name":"get val 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[6]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["466ba876e19c2705"]]},{"id":"466ba876e19c2705","type":"ui_led","z":"8d50e71e90a5eb00","order":0,"group":"4da8ac948b7069ca","width":"0","height":"0","label":"Conveyer M1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":830,"y":240,"wires":[]},{"id":"8f3003523623dac4","type":"change","z":"8d50e71e90a5eb00","name":"get val 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[7]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":300,"wires":[["479a9d1e9b4760e0"]]},{"id":"479a9d1e9b4760e0","type":"ui_led","z":"8d50e71e90a5eb00","order":0,"group":"4da8ac948b7069ca","width":"0","height":"0","label":"Conveyer M2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":830,"y":300,"wires":[]},{"id":"3c71ff8bc2bafd92","type":"inject","z":"8d50e71e90a5eb00","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":480,"wires":[["8facedb824e028ea"]]},{"id":"8facedb824e028ea","type":"function","z":"8d50e71e90a5eb00","name":"get buff.data[4]","func":"msg.payload = {\n'fc' : 3,\n'unitid' : 1,\n'address' : 4,\n'quantity' : 1\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":480,"wires":[["b3af2e9c41726053"]]},{"id":"b3af2e9c41726053","type":"modbus-flex-getter","z":"8d50e71e90a5eb00","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3f18ff5a1a0a94b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":480,"wires":[["90dcfa679e41ecf3","c4d36330740bcee5"],[]]},{"id":"90dcfa679e41ecf3","type":"debug","z":"8d50e71e90a5eb00","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"cd6d73dff5dcbdfc","type":"function","z":"8d50e71e90a5eb00","name":"","func":"switch (msg.payload) {\n  case 1:\n    msg.payload = \"Pressure Low\";\n    break;\n  case 2:\n    msg.payload = \"Gantry Slider Homing Error\";\n    break;\n  case 3:\n    msg.payload = \"Rotary Table Homing Error\";\n    break;\n  case 4:\n    msg.payload = \"Transfer Arm Homing Error\";\n    break;\n  default:\n      msg.payload = \"No Error\"\n      break\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":460,"wires":[["c5bbfc8f460569e4"]]},{"id":"c4d36330740bcee5","type":"change","z":"8d50e71e90a5eb00","name":"get val 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":460,"wires":[["cd6d73dff5dcbdfc"]]},{"id":"c5bbfc8f460569e4","type":"ui_text","z":"8d50e71e90a5eb00","group":"4da8ac948b7069ca","order":3,"width":0,"height":0,"name":"","label":"Error Status","format":"{{msg.payload}}","layout":"col-center","className":"","x":1020,"y":460,"wires":[]},{"id":"6f1fd59311b72741","type":"change","z":"8d50e71e90a5eb00","name":"get val 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[8]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["d496f2cf715e1f9b"]]},{"id":"d496f2cf715e1f9b","type":"ui_led","z":"8d50e71e90a5eb00","order":0,"group":"4da8ac948b7069ca","width":"0","height":"0","label":"Drilling Motor","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":830,"y":360,"wires":[]},{"id":"541a5d7b7fa7c4ab","type":"inject","z":"8d50e71e90a5eb00","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":620,"wires":[["b2cbeb97805ad5fd"]]},{"id":"b2cbeb97805ad5fd","type":"function","z":"8d50e71e90a5eb00","name":"get I8","func":"msg.payload = {\n'fc' : 2,\n'unitid' : 1,\n'address' : 64,\n'quantity' : 8\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":620,"wires":[["17b6fe262373efa9"]]},{"id":"17b6fe262373efa9","type":"modbus-flex-getter","z":"8d50e71e90a5eb00","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3f18ff5a1a0a94b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":620,"wires":[["8db3f41115c6ecac","ff82496278a4afa9"],[]]},{"id":"8db3f41115c6ecac","type":"debug","z":"8d50e71e90a5eb00","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":680,"wires":[]},{"id":"ff82496278a4afa9","type":"function","z":"8d50e71e90a5eb00","name":"","func":"if (msg.payload[2]==false && msg.payload[3]==false){\n    msg.payload = \"None\"\n}else if (msg.payload[2]==true){\n    msg.payload = \"Plastic\"\n}else if (msg.payload[3]==true){\n    msg.payload = \"Steel\"\n    \n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":600,"wires":[["79775c37063fc9c0"]]},{"id":"79775c37063fc9c0","type":"ui_text","z":"8d50e71e90a5eb00","group":"4da8ac948b7069ca","order":3,"width":0,"height":0,"name":"","label":"Material","format":"{{msg.payload}}","layout":"col-center","className":"","x":1010,"y":600,"wires":[]},{"id":"3f18ff5a1a0a94b8","type":"modbus-client","name":"s7-1200","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":true,"tcpHost":"192.168.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"861c8370874c05ae","type":"ui_group","name":"Power Status","tab":"dd53eeee756e8013","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4da8ac948b7069ca","type":"ui_group","name":"State","tab":"dd53eeee756e8013","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dd53eeee756e8013","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]